// 체크박스 공통 스타일
input[type=checkbox] {
  display: none;
}

.input-checkbox {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  background-color: #b7d3d6;
  border: 0.5px solid #8aaaad;
  border-radius: 2px;
  position: relative;
  top: 3px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  &::before, &::after {
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 2px;
    background-color: #608a8e;
    display: inline-block;
    transform-origin: left top;
    border-radius: 1px;
    content: ' ';
    transition: opacity ease 0.5;
  }
  &::before {
    top: 10px;
    left: 8px;
    transform: rotate(-140deg);
  }
  &::after {
    top: 4px;
    left: 1px;
    transform: rotate(-45deg);
  }
}

input[type=checkbox]:checked + .input-checkbox, .input-checkbox.checked {
  border-color: #608a8e;
}

input[type=checkbox]:checked + .input-checkbox::after, .input-checkbox.checked::after {
  height: 9px;
  width: 3px;
}

input[type=checkbox]:checked + .input-checkbox::before, .input-checkbox.checked::before {
  height: 18px;
  width: 3px;
}
// 텍스트 인풋 박스 공통 스타일
.input-text {
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 0.5px #5f8a90;
  padding: 11px 16px 10px;
  width: 400px;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
  &::placeholder {
    color: #acbec1;
  }
}