// 공통 색 변수로 분리
$input-background: #b7d3d6;
$input-border: #8aaaad;
$input-pseudo: #608a8e;

// 체크박스 공통 스타일
input[type=checkbox] {
  display: none;
}

.input-checkbox {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  background-color: $input-background;
  border: 0.5px solid $input-border;
  border-radius: 2px;
  position: relative;
  top: 3px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  &::before, &::after {
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 2px;
    background-color: $input-pseudo;
    display: inline-block;
    transform-origin: left top;
    border-radius: 1px;
    content: ' ';
    transition: opacity ease 0.5;
  }
  &::before {
    top: 10px;
    left: 8px;
    transform: rotate(-140deg);
  }
  &::after {
    top: 4px;
    left: 1px;
    transform: rotate(-45deg);
  }
}

input[type=checkbox]:checked + .input-checkbox, .input-checkbox.checked {
  border-color: $input-pseudo;
}

input[type=checkbox]:checked + .input-checkbox::after, .input-checkbox.checked::after {
  height: 9px;
  width: 3px;
}

input[type=checkbox]:checked + .input-checkbox::before, .input-checkbox.checked::before {
  height: 18px;
  width: 3px;
}

// 라디오 버튼 공통 스타일
input[type=radio] {
  display: none;
}

input[type=radio] + .input-radio-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 0.5px solid $input-border;
  border-radius: 50%;
}

input[type=radio]:checked + .input-radio-label .input-radio-span {
  width: 9.6px;
  height: 9.6px;
  display: inline-block;
  border-radius: 50%;
  background-color: $input-background;
  border: solid 0.5px $input-border;
}
